.center-search-container {
    height: calc(100vh - 90px);
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    padding-bottom: 0px;
    overflow: hidden;
}

.center-search-container .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-search-container .top-bar .button-container {
    border-radius: 5px;
    border: 3px solid #FF43CA;
    height: 40px;
}

.center-search-container .top-bar button {
    height: 100%;
    padding: 0px 20px;
    border: none;
    background: rgba(196, 196, 196, 0.25);
    cursor: pointer;
    letter-spacing: 0.02em;
}

.center-search-container .top-bar .active {
    background-color: #FF43CA;
    color: #fff;
    border-radius: 0px !important;
}

.center-search-container .top-bar button:nth-child(1) {
    border-right: 3px solid #FF43CA;
    border-radius: 5px 0px 0px 5px;
}

.center-search-container .top-bar button:nth-child(2) {
    border-left: 3px solid #FF43CA;
    border-radius: 0px 5px 5px 0px;
}

.center-search-container .top-bar .head {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    letter-spacing: 0.02em;
    border: 3px solid #FF43CA;
    border-radius: 5px 5px 5px 5px;
    width: 66%;
}

.center-search-container .top-bar .head button {
    height: 100%;
    width: 15%;
    padding: 0px 15px;
    border: none;
    border-right: 3px solid #FF43CA;
    border-radius: 5px 0px 0px 5px;
    background: rgba(196, 196, 196, 0.25);
}

.center-search-container .top-bar .head select {
    height: 100%;
    width: 35%;
    padding: 0px 15px;
    border: none;
    border-right: 3px solid #FF43CA;
    font-size: 14px;
    letter-spacing: 0.02em;
    background: url(../../assets/DownArrow.svg) 98% center no-repeat rgba(196, 196, 196, 0.25) !important;
    -moz-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.center-search-container .top-bar .head .input-wrapper {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    position: relative;
}

.center-search-container .top-bar .head .input-wrapper svg {
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}


.center-search-container .top-bar .head input {
    width: 100%;
    height: calc(40px - 6px);
    padding: 0px 15px;
    border: none;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.center-search-container .top-bar .head .loading-container {
    background: rgba(196, 196, 196, 0.25);
    width: 35%;
    height: 100%;
    border-right: 3px solid #FF43CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table Hashtag Container */
.center-search-container .table-hastag-container {
    width: 100%;
    height: calc(100vh - 23.2vh) !important;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
}

.center-search-container .table-hastag-container::-webkit-scrollbar {
    display: block;
    width: 4px;
    background-color: transparent;
    border-radius: 10px;
}

.center-search-container .table-hastag-container::-webkit-scrollbar-thumb {
    background: #ff42ca;
    border-radius: 100px;
}

.center-search-container .table-hastag-container table {
    width: 100%;
}

.center-search-container .table-hastag-container th {
    text-align: left;
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #404040;
    position: sticky;
    top: 0px;
    background-color: #fff;
}

.center-search-container .table-hastag-container td {
    border-top: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #000000;
}

.center-search-container .loading-container-hashtag {
    width: 100%;
    height: calc(100vh - 23.2vh) !important;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-search-container .table-card {
    position: relative;
}

.center-search-container .table-card .sub-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: -120px;
    top: 30px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
}

.center-search-container .table-card .sub-card button {
    border: none;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;
    text-transform: capitalize;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0px 5px
}

.center-search-container .table-card .sub-card button:hover {
    background-color: #ececec;
    border-radius: 3px;
}

.center-search-container .table-card .sub-card a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    text-transform: capitalize;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0px 5px
}

.center-search-container .table-card .sub-card a:hover {
    background-color: #ececec;
    border-radius: 3px;
}

.center-search-container .table-card .titles-card {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 11;
    left: -240px;
    top: 30px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
}

.center-search-container .table-card .titles-card span {
    display: block;
    margin-bottom: 5px;
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.center-search-container .table-card .titles-card span:hover {
    background-color: #ececec;
}

/* Group hashtag container */
.center-search-container .group-hastag-container {
    width: 100%;
    height: calc(100vh - 23.2vh) !important;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-top: 20px;
    padding-bottom: 20px;
}

.group-hastag-container h4 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #404040;
    margin-top: 30px;
    margin-bottom: 5px;
}

.group-hastag-container .wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.group-hastag-container .low {
    background: rgba(0, 120, 255, 0.1);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 6px 15px;
    font-size: 12px;
    letter-spacing: 0.02em;
    white-space: wrap-content;
}

.group-hastag-container .low:hover {
    background: rgba(0, 120, 255, 0.25);
}

.group-hastag-container .medium {
    background: rgba(0, 155, 119, 0.1);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 6px 15px;
    font-size: 12px;
    letter-spacing: 0.02em;
    white-space: wrap-content;
}

.group-hastag-container .medium:hover {
    background: rgba(0, 155, 119, 0.25);
}


.group-hastag-container .high {
    background: rgba(255, 67, 89, 0.1);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 6px 15px;
    font-size: 12px;
    letter-spacing: 0.02em;
    white-space: wrap-content;
}

.group-hastag-container .high:hover {
    background: rgba(255, 67, 89, 0.25);
}


.group-hastag-container .rect {
    width: 30px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    border: 0.25px solid transparent;
}

.group-hastag-container .rect:hover {
    border: 0.25px solid #808080;
    background-color: #fff;
}

.group-hastag-container .rect svg {
    cursor: pointer;
}

.group-hastag-container .card {
    position: relative;
}

.group-hastag-container .card .sub-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: -110px;
    top: 25px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
}

.group-hastag-container .card .sub-card button {
    border: none;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;
    text-transform: capitalize;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0px 5px
}

.group-hastag-container .card .sub-card button:hover {
    background-color: #ececec;
    border-radius: 3px;
}

.group-hastag-container .card .sub-card a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    text-transform: capitalize;
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0px 5px
}

.group-hastag-container .card .sub-card a:hover {
    background-color: #ececec;
    border-radius: 3px;
}

.group-hastag-container .titles-card {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 11;
    right: -230px;
    top: 25px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
    box-shadow: 0px 0px 2px 0px rgba(189, 189, 189, 1);
}

.group-hastag-container .titles-card span {
    display: block;
    margin-bottom: 5px;
    padding: 3px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.group-hastag-container .titles-card span:hover {
    background-color: #ececec;
}