.left-side-bar {
  height: calc(100vh - 90px);
  background-color: #fff;
  margin-top: 20px;
  border-top-right-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.left-side-bar .button-container {
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
  padding: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.left-side-bar .active {
  background: rgba(255, 67, 202, 0.05);
  color: #ff43ca;
  font-weight: 600;
}

.left-side-bar .button-container:hover {
  background: hsla(240,8%,97%,.5);
}

.left-side-bar .active:hover {
    background: rgba(255, 67, 202, 0.05);
}

.left-side-bar .button-container .emoji {
  font-size: 24px;
  margin-left: 20px;
}

.left-side-bar .button-container .title {
  font-size: 18px;
  margin-left: 20px;
}

.left-side-bar .rotate {
  transform: rotate(180deg);
}
