.right-dashboard .join-community {
  background-color: #fff;
  height: 160px;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-dashboard .join-community  span:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
}

/* Recent Saved */
.right-dashboard .recent-saved {
  height: calc(100vh - 270px);
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px 0 0 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}

.right-dashboard .recent-saved .head {
  font-weight: 300;
  font-size: 14px;
  color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-dashboard .recent-saved .card-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.right-dashboard .recent-saved .card-wrapper::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: transparent;
  border-radius: 10px;
}

.right-dashboard .recent-saved .card-wrapper:hover::-webkit-scrollbar-thumb {
  background: #ff42ca;
  border-radius: 100px;
}

.right-dashboard .recent-saved .head span:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.right-dashboard .recent-saved .head span:nth-child(2) {
  cursor: pointer;
}

.right-dashboard .recent-saved .head span:nth-child(2):hover {
  color: #ff43ca;
}

.right-dashboard .recent-saved .card {
  background: rgba(248, 248, 249, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.right-dashboard .recent-saved .card img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.right-dashboard .recent-saved .card:hover {
  background: rgba(255, 67, 202, 0.05);
}

.right-dashboard .recent-saved .card p {
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
}

.right-dashboard .recent-saved .card span {
  font-size: 18px;
  font-weight: 400;
  color: #404040;
}

.right-dashboard a {
  text-decoration: none;
  color: black;
}

.right-dashboard a:hover {
  color: #ff43ca;
}

.right-dashboard #copySaved {
  position: absolute;
  top: -1000px;
}

.right-dashboard .button-container {
  width: 130px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.right-dashboard .button-container svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.right-dashboard .button-container svg:nth-child(1):hover path{
  stroke: #ff43ca;
}

.right-dashboard .button-container svg:nth-child(2):hover path{
  stroke: #0078ff;
}

.right-dashboard .button-container svg:nth-child(3):hover path{
  stroke: red;
}

.right-dashboard .loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #ff43ca;; /* Blue */
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.right-dashboard .loading-card {
  background: rgba(248, 248, 249);
  border-radius: 3px;
  padding: 15px;
  margin-top: 10px;
}

.right-dashboard .no-account {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}