.tag-card-container {
    background: rgba(248, 248, 249, 0.5);
    margin-top: 10px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 14px;
    letter-spacing: 0.02em;
}

.tag-card-container:hover {
    background: rgba(255, 67, 202, 0.03) !important;
}

.tag-card-container img {
    cursor: pointer;
    margin-left: 20px;
}

.tag-card-container .open span {
    font-size: 12px;
    color: #333333;
    letter-spacing: 0.02em;
}

.tag-card-container .open .rotate {
    transform: rotate(180deg);
}
